body {
    margin: 0px;
    padding: 0px;
}

.form {
    width: 100vw;
    height: 100vh;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgb(30, 7, 111), rgb(58, 195, 223));
}

.container {
    border: 2px solid black;
    padding: 0px 0px 0px 25px;
    background-color: antiquewhite;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: black;
    width: 400px;
    /* height: 590px; */
    justify-content: center;
}

input,
button {
    border-radius: 10px;
    width: 350px;
    padding: 10px;
}

button {
    margin: 0px 12px;
    background-color: rgb(70, 70, 184);
    color: white;
    font-size: 15px;
}

button:hover {
    box-shadow: rgb(60, 63, 63) 2px 0px 15px 8px;
}

span {
    font-size: 15px;
    color: red;
}